
<div class="container">

<div class="content_box">

<p id="notice"><%= notice %></p>

<div class="row">

<div class="col-md-3" id="test">

<!-- <h2><%= @user.name %>, this is your profile</h2> -->

<p>
 <!--  <h3>Name:</h3> -->
  <h3><%= @user.name %></h3>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>


<% if @user.phone != nil %>
<p>
  <strong>Phone:</strong>
  <%= @user.phone %>
</p>
<% end %>


<%= link_to 'Edit', edit_user_path(@user) , class: "btn btn-info btn-xs"%>

</div>

<div class="col-md-9">

<% if @games.present? %>

  <h3>Your Games:</h3>

  <table class="table table-borderless">
    <thead>
      <tr>
        <th>Status</th>
        <th>Date</th>
        <th>Time</th>
        <th>Location</th>
        <th class="td_invitation">Invitations</th>
      </tr>
    </thead>


    <tbody>
      <% @games.each do |game| %>
        <tr>

                <% if game.confirmed == true %>

                <td>
                  <i class="fa fa-check-circle-o fa-lg"></i> Confirmed
                </td>


                <% else %>

                <td>
                  <i class="fa fa-coffee fa-lg"></i> Waiting
                </td>

                <% end %>


          <td><%= game.date.strftime("%d. %B %Y") %></td>
          <td><%= game.time.strftime("%H:%M") %></td>
          <td><%= game.location %></td>

           <% if game.private %>
            <td class="td_invitation"><%= link_to "", game_url(game.id), class: "fa fa-file-text fa-lg" %> Private Match
            </td>
           <% else %>
             <td class="td_invitation"><%= link_to "", lounge_url, class: "fa fa-group fa-lg" %> Public Match
             </td>
          <% end %>

        </tr>

      <% end %>
    </tbody>

  </table>

<% end %>

</div><!-- END OF SECOND COL- 6 -->

</div><!-- END OF ROW -->

</div>

</div><!-- END OF CONTAINER -->
