<p id="notice"><%= notice %></p>


<h2><%= @user.name %>, this is your profile</h2>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>


<% if @user.phone != nil %>
<p>
  <strong>Phone:</strong>
  <%= @user.phone %>
</p>
<% end %>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>


<h2>Your Game Invitations:</h2>

<table>
  <thead>
    <tr>
      <th>Organizer</th>
      <th>Date</th>
      <th>Time</th>
      <th>Location</th>
      <th>Invitations</th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= User.find_by(:id => game.player1_id).name %></td>
        <td><%= game.date.strftime("%d.%B %Y") %></td>
        <td><%= game.time.strftime("%H:%M") %></td>
        <td><%= game.location %></td>
        <td><%= link_to "See who you invited for that game", game_url(game.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
