

<!-- SINGLE PLAYER INVITATION -->

<div class="content_box" id="single_player">

<h3>Step 3: Invite a friend for this game</h3>

<%= form_tag invitations_url do %>

  <%= hidden_field_tag 'game_id', @game.id %>


<div class="form-group">
  <h3><%= label_tag 'Email address:'%></h3>
  <%= text_field_tag 'invite_email_0', nil, placeholder: "e.g. john@mcenroe.com", class: "form-control" %>
</div>

  <%= submit_tag 'Send invitation', class: "btn btn-default btn-sm" %>


  <div class="group_invitation">

  <h4 class="btn btn-info btn-sm">Or invite a group of friends.</h4>

</div>

<% end %>




<!-- POST MATCH TO LOUNGE -->

<h3>Or find a partner by posting this match into the GameSetApp Lounge:</h3>



<%= form_tag create_public_match_url, method: 'get' %>

<%= hidden_field_tag 'game_id', @game.id %>

<%= submit_tag 'Post match in public lounge', class: "btn btn-danger btn-sm" %>

</div>

<!-- GROUP INVITATION FOR GAME -->






<div class="content_box" id="multiple_players" style="display:none">

<h3>Step 3: Invite up to 5 friends for this game</h3>

<%= form_tag invitations_url do %>

  <%= hidden_field_tag 'game_id', @game.id %>

  <div class="form-group">
  <h3><%= label_tag 'Add Player 1'%></h3>
  <%= text_field_tag 'invite_email_1', nil, class: "form-control" %>
  </div>

  <div class="form-group">
  <h3><%= label_tag 'Add Player 2'%></h3>
  <%= text_field_tag 'invite_email_2', nil, class: "form-control" %>
  </div>

  <div class="form-group">
  <h3><%= label_tag 'Add Player 3'%></h3>
  <%= text_field_tag 'invite_email_3', nil, class: "form-control" %>
  </div>

  <div class="form-group">
  <h3><%= label_tag 'Add Player 4'%></h3>
  <%= text_field_tag 'invite_email_4', nil, class: "form-control" %>
  </div>

  <div class="form-group">
  <h3><%= label_tag 'Add Player 5'%></h3>
  <%= text_field_tag 'invite_email_5', nil, class: "form-control" %>
  </div>

  <%= submit_tag 'Send invitation', class: "btn btn-default" %>

<% end %>



<div class="single_invitation" style="display:none">

  <h4 class="btn btn-info btn-sm">Switch back to single invitation.</h4>

</div>


</div>
