<h1>Now, let's invite your friends</h1>

<%= form_tag invitations_url do %>

  <%= hidden_field_tag 'player1_id', session[:u_id] %>

  <h3><%= label_tag 'Invite a friend'%></h3>
  <%= text_field_tag 'invite_email' %>

  <%= submit_tag 'Confirm' %>

<% end %>
