<h1>Now, let's invite your friends</h1>

<%= form_tag invitations_url do %>

  <%= hidden_field_tag 'player1_id', session[:u_id] %>

  <h3><%= label_tag 'invitee1'%></h3>
  <%= text_field_tag 'invitee1' %>

  <h3><%= label_tag 'invitee2'%></h3>
  <%= text_field_tag 'invitee2' %>

  <h3><%= label_tag 'invitee2'%></h3>
  <%= text_field_tag 'invitee2' %>

  <h3><%= label_tag 'invitee3'%></h3>
  <%= text_field_tag 'invitee3' %>

  <h3><%= label_tag 'invitee4'%></h3>
  <%= text_field_tag 'invitee4' %>

  <h3><%= label_tag 'invitee5'%></h3>
  <%= text_field_tag 'invitee5' %>

  <%= submit_tag 'Confirm' %>

<% end %>
