<div class="container">


  <div class="content_box">
    <h2>GameSetApp Lounge:</h2>


    <table class="table table-borderless">

      <thead>
        <th>Host</th>
        <th>Date</th>
        <th>Time</th>
        <th>Venue</th>
        <th></th>
      </thead>

      <tbody>

        <% @games.each do |game| %>
        <tr>
        <% user = User.find_by(:id => game.player1_id) %>
        <td><%= user.name %></td>
        <td><%= game.date.strftime("%d. %B %Y") %></td>
        <td><%= game.time.strftime("%H:%M") %></td>
        <td><%= game.location %></td>
         <td><a href="http://localhost:3000/games/join_match/<%= game.id %>" class="sign_up_button">I'm in to play!</a></td>
        <% end %>
        </tr>

      </tbody>

    </table>





  </div>
</div>
