

<div class="new_game">

<h1>Create a new match</h1>
<h2>Make a new match suggestion to your friends</h2>

<%= form_tag create_game_url, remote: true, authenticity_token: true do %>

  <%= hidden_field_tag 'player1_id', session[:u_id] %>

  <h3><%= label_tag 'date', 'On which day do you want to play?' %></h3>
  <%= date_field_tag 'date' %>


  <h3><%= label_tag 'time', 'At what time?' %></h3>
  <%= time_field_tag 'time' %>


  <h3><%= label_tag 'location', 'Finally, please tell your friends where you want to play?' %></h3>
  <%= text_field_tag 'location' %>


  <%= submit_tag 'Confirm' %>

<% end %>

</div>


<div class="player_invitation" style="display:none">

  <h2><%= link_to "Invite another friend", "/invitations/add_invitation", remote: true%></h2>

</div>





