<div class="container">

<div class="content_box">

<% if @game.confirmed != true %>

<h1><%= @user.name %>, has suggested to play Tennis with him.</h1>

<h2>Here are the details of the match:</h2>

<h3>Date: <%= @game.date.strftime("%d. %B %Y") %></h3>
<h3>Time: <%= @game.time.strftime("%H:%M") %></h3>
<h3>Location: <%= @game.location %></h3>


<%= form_tag update_game_url(@game.id), method: 'patch' %>

<%= hidden_field_tag :invitation_id, @invitation.id %>

<%= submit_tag "I'm in!", class: "btn btn-default btn-lg" %>

<br>
<br>


<p><%= @user.name %> will be informed automatically.</p>

<% else %>

<h1>Sorry, <%= @user.name %> has already found a partner for his next game.</h1>

<h2>Click below to set up your own match.</h2>

<button>Invite my friends to play tennis.</button>

<% end %>

</div>

</div>
