

<div class="well">

<h3>Your game on <%= @game.date.strftime("%d. %B %Y") %>, at <%= @game.time.strftime("%H:%M") %></h3>


<h4>Location: <%= @game.location %></h4>

<h4>Host: <%= @user.name %></h4>

<h4>Number of invitations for that match: <%= @invitations.count %></h4>

<h4>Invitations for this match:</h4>

<ul>
<% @invitations.each do |invitation| %>
<li><%= invitation.invite_email %></li>
<% end %>
<li><%= link_to "Invite another friend", "/invitations/new?game_id=#{@game.id}" %></li>
</ul>

</div>


