<!DOCTYPE html>
<html>
<head>
  <title>GSA10</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= link_to "Logout", logout_url %>
<%= link_to "New User", new_user_url %>
<%= link_to "New Match", new_game_url %>

<%= yield %>

</body>
</html>
