<!DOCTYPE html>
<html>
<head>
  <title>GSA10</title>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <script src="netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>



</head>






<header>

  <div class="bs-example bs-navbar-top-example">

    <nav class="navbar navbar-default navbar-fixed-top"     role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-6">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">GameSetApp</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
          <ul class="nav navbar-nav navbar-right">
              <% if session[:u_id].present? %>
                <% user = User.find_by(:id => session[:u_id]) %>
                <li class="nav_link_self"><%= link_to user.name, user_url(user.id) %></li>
                <li class="nav_link_self"><%= link_to "New Match", new_game_url %></li>
                <li class="nav_link_self"><%= link_to "Logout", end_session_url %></li>
              <% else %>
                <li class="nav_link_self"><%= link_to "Login", "#lightbox", :class => "fancybox" %></li>
                <li class="nav_link_self"><%= link_to "New User", new_user_url %></li>
                <li class="nav_link_self"><%= link_to "Admin", admin_url %></li>
              <% end %>

          </ul>
        </div><!-- /.navbar-collapse -->

      </div>
    </nav>

  </div>


</header>


</div>

<body>


 <div id="lightbox" style="display:none">


          <h2>Welcome back!</h2>



          <%= form_tag sessions_url do %>

           <div class="form-group">
            <h3><%= label_tag 'email', 'Email' %></h3>
            <%= text_field_tag 'email', nil, class: "form-control"%>
          </div>


           <div class="form-group">
            <h3><%= label_tag 'password', 'Password' %></h3>
            <%= password_field_tag 'password', nil, class: "form-control" %>
          </div>

          <div class="col-md-4 col-md-offset-4">
            <%= submit_tag 'LOGIN', class: "btn btn-info" %>
          </div>

          <% end %>


 </div>










 <!-- NEW TEST OF SLIDE DOWN -->



<!-- END OF NEW TEST OF SLIDE DOWN -->


<%= yield %>



   <footer>
      <%= render 'layouts/footer' %>
    </footer>


</body>


</html>
