<!DOCTYPE html>
<html>
<head>
  <title>GSA10</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>




<header>

  <div class="bs-example bs-navbar-top-example">

    <nav class="navbar navbar-default navbar-fixed-top"     role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-6">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">GameSetApp</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
          <ul class="nav navbar-nav">
              <% if session[:u_id].present? %>
                <% user = User.find_by(:id => session[:u_id]) %>
                <li><%= link_to user.name, user_url(user.id) %></li>
                <li><%= link_to "New Match", new_game_url %></li>
                <li><%= link_to "Logout", end_session_url %></li>
              <% else %>
                <li><%= link_to "Login", root_url %></li>
                <li><%= link_to "New User", new_user_url %></li>
              <% end %>

          </ul>
        </div><!-- /.navbar-collapse -->

      </div>
    </nav>

  </div>


</header>


 </div>

<body>
<div class="container">

<%#= link_to "Logout", logout_url %>
<%#= link_to "New User", new_user_url %>
<%#= link_to "New Match", new_game_url %>


<%# if session[:u_id].present? %>
<%# user = User.find_by(:id => session[:u_id]) %>
<%#= link_to user.name, user_url(user.id) %>
<%# else %>
<%#= link_to "Login", root_url %>
<%# end %>


<%= yield %>

</div> <!-- END OF CONTAINER -->
</body>
</html>
