<!DOCTYPE html>
<html>
<head>
  <title>GSA10</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">

<%= link_to "Logout", logout_url %>
<%= link_to "New User", new_user_url %>
<%= link_to "New Match", new_game_url %>
<%= link_to "New Invitation", new_invitation_url %>

<% if session[:u_id].present? %>
<% user = User.find_by(:id => session[:u_id]) %>
<%= link_to user.name, user_url(user.id) %>
<% end %>


<%= yield %>

</div> <!-- END OF CONTAINER -->
</body>
</html>
